<div class="container">
    <div class="container justify-content-center navbar">
        <div class="row navbar-font">
            <div class="col">
                <!-- <button mat-flat-button>Link1</button> -->
            </div>
            <div class="col">
                <button (click)="scroll(welcome)">Velkommen</button>
            </div>
            <div class="col">
                <button (click)="scroll(program)">program</button>
            </div>
            <div class="col">
                <button (click)="scroll(program)">Velkommen</button>
            </div>
            <div class="col">
                <button (click)="scroll(rsvp)">RSVP</button>
            </div>
            <div class="col">
                <button (click)="scroll(speach)">Taler</button>
            </div>
        </div>
    </div>
    <img class="image-fit-window" src="assets/images/velkommen-svart-hvitt-cropped.jpg" style="border-radius: 5px;">
    <div class="container">
        <!-- <div class="count-down">
            <div class="row">
                <div class="col">
                    <app-count-down></app-count-down>
                </div>
            </div>
        </div> -->
        <div class="row d-flex align-content-center content">
            <div class="col d-flex justify-content-center content-body">Vi er glad for å kunne invitere deg/dere til
                vårt Bryllup. På denne siden vil dere finne all informasjon dere trenger foran bryllupshelgen.</div>
            <div class="col d-flex justify-content-center content-title" #welcome>Velkommen!</div>
        </div>

        <div class="row d-flex align-content-center content" #program>
            <div class="col d-flex justify-content-center content-body">
                <!-- <ul>
                    <li>Aktivitet</li>
                    <li>Aktivitet</li>
                    <li>Aktivitet</li>
                    <li>Aktivitet</li>
                    <li>Aktivitet</li>
                    <li>Aktivitet</li>
                    <li>Aktivitet</li>
                </ul> -->
                <p>Kommer senere</p>
            </div>
            <div class="col d-flex justify-content-center content-title">Program</div>
        </div>

        <div class="row d-flex align-content-center content">
            <div class="col d-flex justify-content-center content-body">

                <p>Vi vil gjerne vite om du/dere har anledning å komme senest 1. april.</p>

            </div>
            <div class="col d-flex justify-content-center content-title" #rsvp>RSVP</div>
        </div>

        <div class="row d-flex align-content-center content">
            <div class="col d-flex justify-content-center content-body">

                <p>Ønsker du å holde tale? Send mail til våre eminente toastmastere på <a href="mailto:toastmasterelineoghakon@gmail.com">toastmasterelineoghakon@gmail.com</a></p>.

            </div>
            <div class="col d-flex justify-content-center content-title" #speach>Taler</div>
        </div>

        <div class="row d-flex align-content-center content">
            <div class="col d-flex justify-content-center content-body"><iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2011.3139307569772!2d9.348981316269231!3d59.727599981800026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4640c7bcd3883df7%3A0x8e290d5b61dc2384!2sStoraas%20Gjesteg%C3%A5rd!5e0!3m2!1sno!2sno!4v1613937070950!5m2!1sno!2sno"
                    width="600" height=500 style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
            <div class="col  d-flex justify-content-center">
                <div class="row">
                    <div class="col content-title" id="location">
                        Lokasjon
                        <div class="col content-body">
                            Jondalsveien 1530
                            3614 Kongsberg
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>