<div class="container">
    <img class="image-fit-window" src="assets/images/velkommen-svart-hvitt-cropped.jpg">
    <div class="container">
        <div class="count-down">
            <div class="row">
                <div class="col">
                    <app-count-down></app-count-down>
                </div>
            </div>
        </div>
        <div class="row d-flex align-content-center content">
            <div class="col d-flex justify-content-center content-body">Vi er glad for å kunne invitere deg/dere til
                vårt Bryllup. På denne siden vil dere finne all informasjon dere trenger foran bryllupshelgen.</div>
            <div class="col d-flex justify-content-center content-title">Velkommen!</div>
        </div>

        <div class="row d-flex align-content-center content">
            <div class="col d-flex justify-content-center content-body"></div>
            <div class="col d-flex justify-content-center content-title">Lokasjon</div>
        </div>
    </div>
</div>