/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Dancing+Script&family=Lobster&family=Source+Serif+Pro:wght@300&display=swap');
@import "../node_modules/font-awesome/scss/font-awesome.scss";
.wedding-font {
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 50px;
}

.navbar-font {
    font-family: 'Source Serif Pro', cursive;
    font-size: 20px;
    font-weight: 600;
    color: #60684C;
}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;    
    background-color: #C2D8CE;
    color: #000000;
    text-underline-position: below;
    height: 50px;
    border-radius: 2px;
}

.image-fit-window {
    height: 100%;
    width: 100%;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 3px 3px 10px 0 #000000;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.count-down {
    text-align: center;
    font-family: 'Source Serif Pro', cursive;
    font-weight: 800;

}

.content{
    background-color: #C2D8CE;
    min-height: 300px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.content-body {
    font-family: 'Source Serif Pro', cursive;
    font-size: 24px;
    text-align: center;
}

.content-title {
    font-family: 'Source Serif Pro', cursive;
    text-align: center;
    align-self: center;
    font-size: 50px;
}
html, body { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-height: 700px) {
    .content-title {
        font-family: 'Source Serif Pro', cursive;
        text-align: center;
        align-self: center;
        font-size: 24px;
    }

    .content-body {
        font-family: 'Source Serif Pro', cursive;
        font-size: 16px;
        text-align: center;
    }

    .wedding-font {
        font-family: 'Dancing Script', cursive;
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }
}
