<div class="container" style="text-align: center; margin-top: 10px;">
    <!-- <div class="row">
        <div class="col-12">
            <img src="assets/images/eucalyptus.png" alt="">
        </div>
    </div> -->
    <div class="row">
        <ng-container *ngIf="showHeaderPictures">
            <div class="col-4 d-flex flex-row-reverse">
                <img src="assets/images/eucalyptus-1.png" style="width: 80%; height: 60%; margin-top: 20px;">
            </div>
        <div class="col-4">
            <div class="row">
                <div class="col wedding-font" style="margin-top: 20px;">
                    <p>Eline & Håkon</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="font-size: 12px;">29/5/2021</p>
                </div>
            </div>
        </div>
            <div class="col-4 d-flex flex-row">
                <img src="assets/images/eucalyptus-2.png" style="width: 80%; height: 60%; margin-top: 20px;">
            </div>
        </ng-container>
        <ng-container *ngIf="!showHeaderPictures">
            <div class="col">
                <div class="row">
                    <div class="col wedding-font">
                        <p>Eline & Håkon</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="font-size: 20px;">
                        29/5/2021
                    </div>
                </div>
            </div>
        </ng-container>
    </div>




    <!-- <div class="row wedding-font">
        <div class="col">Eline</div>
    </div>
    <div class="row wedding-font">
        <div class="col">&</div>
    </div>
    <div class="row wedding-font">
        <div class="col">Håkon</div>
    </div> -->
</div>